<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="imageUvs">
                    <img alt="image" class=""  src="../../../content/inspinia/img/LogoUvs.jpg"/>
                </div>
            
            </li>
            <li class="active">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Accords Internes</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li> <a class="active" [routerLink]="['/demande-accord']" routerLinkActive="router-link-active"></i> <span class="nav-label">Accord Cadre</span></a></li>
                    <li> <a class="active" [routerLink]="['/activite']" routerLinkActive="router-link-active"> <span class="nav-label">Activites</span></a></li>
                    <li><a class="active" [routerLink]="['/avenant']" routerLinkActive="router-link-active"></i> <span class="nav-label">Accord Avenant</span></a></li>
                    <li><a class="active" [routerLink]="['/comite']" routerLinkActive="router-link-active"></i> <span class="nav-label">Comite</span></a></li>
                    
                </ul>
            </li>
            <li class="active">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Accords Externes</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li> <a class="active" [routerLink]="['/accord']" routerLinkActive="router-link-active"></i> <span class="nav-label">Accord Cadre</span></a></li>
                    <li> <a class="active" [routerLink]="['/activite']" routerLinkActive="router-link-active"> <span class="nav-label">Activites</span></a></li>
                    <li><a class="active" [routerLink]="['/avenant']" routerLinkActive="router-link-active"></i> <span class="nav-label">Accord Avenant</span></a></li>
                    <li><a class="active" [routerLink]="['/comite']" routerLinkActive="router-link-active"></i> <span class="nav-label">Comite</span></a></li>
                    
                </ul>
            </li>
          
            <!-- <li>
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="graph_flot.html">Flot Charts</a></li>
                    <li><a href="graph_morris.html">Morris.js Charts</a></li>
                    <li><a href="graph_rickshaw.html">Rickshaw Charts</a></li>
                    <li><a href="graph_chartjs.html">Chart.js</a></li>
                    <li><a href="graph_chartist.html">Chartist</a></li>
                    <li><a href="c3.html">c3 charts</a></li>
                    <li><a href="graph_peity.html">Peity Charts</a></li>
                    <li><a href="graph_sparkline.html">Sparkline Charts</a></li>
                </ul>
            </li> -->
           
           <!-- <li>
                <a href="metrics.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span>  </a>
            </li>
            <li>
                <a href="widgets.html"><i class="fa fa-flask"></i> <span class="nav-label">Widgets</span></a>
            </li> -->
           
           
          
            <li class="active">
                <a class="active" [routerLink]="['/partenaire']" routerLinkActive="router-link-active"></i><i class="fa fa-th-large"></i> <span > partenaires</span> <span class="fa arrow"></span></a>
               
            </li>
           
        </ul>

       

    </div>
</nav>


