<div>
    <h2 id="page-heading">
        <span jhiTranslate="gesAccApp.typePartenaire.home.title">Type Partenaires</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-type-partenaire" [routerLink]="['/type-partenaire/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gesAccApp.typePartenaire.home.createLabel">
            Create a new Type Partenaire
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="typePartenaires?.length === 0">
        <span jhiTranslate="gesAccApp.typePartenaire.home.notFound">No typePartenaires found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="typePartenaires && typePartenaires.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.typePartenaire.libelle">Libelle</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let typePartenaire of typePartenaires ;trackBy: trackId">
                    <td><a [routerLink]="['/type-partenaire', typePartenaire.id, 'view']">{{ typePartenaire.id }}</a></td>
                    <td>{{ typePartenaire.libelle }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/type-partenaire', typePartenaire.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/type-partenaire', typePartenaire.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(typePartenaire)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
