<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-participant-heading" jhiTranslate="gesAccApp.participant.home.createOrEditLabel">Create or edit a Participant</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.participant.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.participant.cin" for="field_cin">Cin</label>
                    <input type="text" class="form-control" name="cin" id="field_cin"
                           formControlName="cin"/>
                    <div *ngIf="editForm.get('cin')!.invalid && (editForm.get('cin')!.dirty || editForm.get('cin')!.touched)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.participant.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.participant.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.participant.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.participant.entreprise" for="field_entreprise">Entreprise</label>
                    <input type="text" class="form-control" name="entreprise" id="field_entreprise"
                           formControlName="entreprise"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.participant.poste" for="field_poste">Poste</label>
                    <input type="text" class="form-control" name="poste" id="field_poste"
                           formControlName="poste"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.participant.comite" for="field_comite">Comite</label>
                    <select class="form-control" id="field_comite" name="comite" formControlName="comite">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="comiteOption.id === editForm.get('comite')!.value?.id ? editForm.get('comite')!.value : comiteOption" *ngFor="let comiteOption of comites; trackBy: trackById">{{ comiteOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
