<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="participant">
            <h2><span jhiTranslate="gesAccApp.participant.detail.title">Participant</span> {{ participant.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gesAccApp.participant.nom">Nom</span></dt>
                <dd>
                    <span>{{ participant.nom }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.participant.cin">Cin</span></dt>
                <dd>
                    <span>{{ participant.cin }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.participant.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ participant.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.participant.email">Email</span></dt>
                <dd>
                    <span>{{ participant.email }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.participant.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ participant.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.participant.entreprise">Entreprise</span></dt>
                <dd>
                    <span>{{ participant.entreprise }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.participant.poste">Poste</span></dt>
                <dd>
                    <span>{{ participant.poste }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.participant.comite">Comite</span></dt>
                <dd>
                    <div *ngIf="participant.comite">
                        <a [routerLink]="['/comite', participant.comite?.id, 'view']">{{ participant.comite?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/participant', participant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
