<div>
    <h2 id="page-heading">
        <span jhiTranslate="gesAccApp.participant.home.title">Participants</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-participant" [routerLink]="['/participant/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gesAccApp.participant.home.createLabel">
            Create a new Participant
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="participants?.length === 0">
        <span jhiTranslate="gesAccApp.participant.home.notFound">No participants found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="participants && participants.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.participant.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.participant.cin">Cin</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.participant.prenom">Prenom</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.participant.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.participant.telephone">Telephone</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.participant.entreprise">Entreprise</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.participant.poste">Poste</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.participant.comite">Comite</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let participant of participants ;trackBy: trackId">
                    <td><a [routerLink]="['/participant', participant.id, 'view']">{{ participant.id }}</a></td>
                    <td>{{ participant.nom }}</td>
                    <td>{{ participant.cin }}</td>
                    <td>{{ participant.prenom }}</td>
                    <td>{{ participant.email }}</td>
                    <td>{{ participant.telephone }}</td>
                    <td>{{ participant.entreprise }}</td>
                    <td>{{ participant.poste }}</td>
                    <td>
                        <div *ngIf="participant.comite">
                            <a [routerLink]="['/comite', participant.comite?.id, 'view']" >{{ participant.comite?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/participant', participant.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/participant', participant.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(participant)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
