<div>
    <h2 id="page-heading">
        <span jhiTranslate="gesAccApp.activite.home.title">Activites</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-activite" [routerLink]="['/activite/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gesAccApp.activite.home.createLabel">
            Create a new Activite
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="activites?.length === 0">
        <span jhiTranslate="gesAccApp.activite.home.notFound">No activites found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="activites && activites.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.activite.photo">Photo</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.activite.titre">Titre</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.activite.soustitre">Soustitre</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.activite.objectif">Objectif</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.activite.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.activite.datedeb">Datedeb</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.activite.datefin">Datefin</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.activite.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.activite.accord">Accord</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let activite of activites ;trackBy: trackId">
                    <td><a [routerLink]="['/activite', activite.id, 'view']">{{ activite.id }}</a></td>
                    <td>{{ activite.photo }}</td>
                    <td>{{ activite.titre }}</td>
                    <td>{{ activite.soustitre }}</td>
                    <td>{{ activite.objectif }}</td>
                    <td>{{ activite.description }}</td>
                    <td>{{ activite.datedeb | date:'mediumDate' }}</td>
                    <td>{{ activite.datefin | date:'mediumDate' }}</td>
                    <td>{{ activite.status }}</td>
                    <td>
                        <div *ngIf="activite.accord">
                            <a [routerLink]="['/accord', activite.accord?.id, 'view']" >{{ activite.accord?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/activite', activite.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/activite', activite.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(activite)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
