<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-activite-heading" jhiTranslate="gesAccApp.activite.home.createOrEditLabel">Create or edit a Activite</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.activite.photo" for="field_photo">Photo</label>
                    <input type="text" class="form-control" name="photo" id="field_photo"
                           formControlName="photo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.activite.titre" for="field_titre">Titre</label>
                    <input type="text" class="form-control" name="titre" id="field_titre"
                           formControlName="titre"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.activite.soustitre" for="field_soustitre">Soustitre</label>
                    <input type="text" class="form-control" name="soustitre" id="field_soustitre"
                           formControlName="soustitre"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.activite.objectif" for="field_objectif">Objectif</label>
                    <input type="text" class="form-control" name="objectif" id="field_objectif"
                           formControlName="objectif"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.activite.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.activite.datedeb" for="field_datedeb">Datedeb</label>
                    <div class="input-group">
                        <input id="field_datedeb" type="text" class="form-control" name="datedeb" ngbDatepicker #datedebDp="ngbDatepicker" formControlName="datedeb"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datedebDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.activite.datefin" for="field_datefin">Datefin</label>
                    <div class="input-group">
                        <input id="field_datefin" type="text" class="form-control" name="datefin" ngbDatepicker #datefinDp="ngbDatepicker" formControlName="datefin"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datefinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.activite.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.activite.accord" for="field_accord">Accord</label>
                    <select class="form-control" id="field_accord" name="accord" formControlName="accord">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="accordOption.id === editForm.get('accord')!.value?.id ? editForm.get('accord')!.value : accordOption" *ngFor="let accordOption of accords; trackBy: trackById">{{ accordOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
