<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activite">
            <h2><span jhiTranslate="gesAccApp.activite.detail.title">Activite</span> {{ activite.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gesAccApp.activite.photo">Photo</span></dt>
                <dd>
                    <span>{{ activite.photo }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.activite.titre">Titre</span></dt>
                <dd>
                    <span>{{ activite.titre }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.activite.soustitre">Soustitre</span></dt>
                <dd>
                    <span>{{ activite.soustitre }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.activite.objectif">Objectif</span></dt>
                <dd>
                    <span>{{ activite.objectif }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.activite.description">Description</span></dt>
                <dd>
                    <span>{{ activite.description }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.activite.datedeb">Datedeb</span></dt>
                <dd>
                    <span>{{ activite.datedeb }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.activite.datefin">Datefin</span></dt>
                <dd>
                    <span>{{ activite.datefin }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.activite.status">Status</span></dt>
                <dd>
                    <span>{{ activite.status }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.activite.accord">Accord</span></dt>
                <dd>
                    <div *ngIf="activite.accord">
                        <a [routerLink]="['/accord', activite.accord?.id, 'view']">{{ activite.accord?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/activite', activite.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
