<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="avenant">
            <h2><span jhiTranslate="gesAccApp.avenant.detail.title">Avenant</span> {{avenant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gesAccApp.avenant.libelle">Libelle</span></dt>
                <dd>
                    <span>{{avenant.libelle}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.avenant.document">Document</span></dt>
                <dd>
                    <span>{{avenant.document}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.avenant.but">But</span></dt>
                <dd>
                    <span>{{avenant.but}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.avenant.description">Description</span></dt>
                <dd>
                    <span>{{avenant.description}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.avenant.dateSignature">Date Signature</span></dt>
                <dd>
                    <span>{{avenant.dateSignature}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.avenant.dateExpiration">Date Expiration</span></dt>
                <dd>
                    <span>{{avenant.dateExpiration}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.avenant.status">Status</span></dt>
                <dd>
                    <span>{{avenant.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/avenant', avenant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
