<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-avenant-heading" jhiTranslate="gesAccApp.avenant.home.createOrEditLabel">Create or edit a Avenant</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.avenant.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.avenant.document" for="field_document">Document</label>
                    <input type="text" class="form-control" name="document" id="field_document"
                           formControlName="document"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.avenant.but" for="field_but">But</label>
                    <input type="text" class="form-control" name="but" id="field_but"
                           formControlName="but"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.avenant.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.avenant.dateSignature" for="field_dateSignature">Date Signature</label>
                    <div class="input-group">
                        <input id="field_dateSignature" type="text" class="form-control" name="dateSignature" ngbDatepicker  #dateSignatureDp="ngbDatepicker" formControlName="dateSignature"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateSignatureDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.avenant.dateExpiration" for="field_dateExpiration">Date Expiration</label>
                    <div class="input-group">
                        <input id="field_dateExpiration" type="text" class="form-control" name="dateExpiration" ngbDatepicker  #dateExpirationDp="ngbDatepicker" formControlName="dateExpiration"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateExpirationDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.avenant.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
