<div>
    <h2 id="page-heading">
        <span jhiTranslate="gesAccApp.avenant.home.title">Avenants</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-avenant" [routerLink]="['/avenant/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gesAccApp.avenant.home.createLabel">
            Create a new Avenant
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="avenants?.length === 0">
        <span jhiTranslate="gesAccApp.avenant.home.notFound">No avenants found</span>
    </div>

    <!-- <div class="table-responsive" *ngIf="avenants?.length > 0"> -->


    <div class="table-responsive" id="entities" *ngIf="avenants && avenants.length > 0">

        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.avenant.libelle">Libelle</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.avenant.document">Document</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.avenant.but">But</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.avenant.description">Description</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.avenant.dateSignature">Date Signature</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.avenant.dateExpiration">Date Expiration</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.avenant.status">Status</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let avenant of avenants ;trackBy: trackId">
                <td><a [routerLink]="['/avenant', avenant.id, 'view' ]">{{avenant.id}}</a></td>
                <td>{{avenant.libelle}}</td>
                <td>{{avenant.document}}</td>
                <td>{{avenant.but}}</td>
                <td>{{avenant.description}}</td>
                <td>{{avenant.dateSignature | date:'mediumDate'}}</td>
                <td>{{avenant.dateExpiration | date:'mediumDate'}}</td>
                <td>{{avenant.status}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/avenant', avenant.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/avenant', avenant.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(avenant)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
