
<div class="col-lg-10 text-justify">
    <p>messages works!</p>
    <div class="col-lg-10 text-justify" *ngIf="demandeAccord">
    <h1>ACCORD CADRE DE COOPERATION </h1>
            <h3>entre</h3>
        <h1>L'UNIVERSITE VIRTUELLE VIRTUELLE DU SENEGAL (UVS)</h1>
                <h3>et</h3>
                <h1>PARTENAIRE</h1>
                <div class="col-lg-10"></div>
                <div class="col-lg-10">
                    <p>Vu les textes legislatifs et reglementaires en matiére de cooperation dans les domaines de
                        l'enseignement superieur, de la recherche scientifique et technique et de la culture entre la
                        République du Sénégal et le partenaire.
                        L'Université Virtuelle du Sénégal, représentée par son recteur le professeur Lô
                         en vertu des pouvoirs qui lui sont conférés,
                         <div class="col-lg-10"></div>

                         Et

                         <div class="col-lg-10"></div>

                         nos partenaires représentés par son représentant Mr NDIAYE,
                         en vertu des pouvoirs qui lui sont conférés,

                         <div class="col-lg-10"></div>

                         Expriment par le présent accord cadre leur intention de développer leurs liens de cooperation.
                    </p>
                </div>
                <div >
                    <h1>ARTICLE 1</h1>
                    <div class="col-lg-10">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nesciunt nam aut voluptatem molestiae voluptates temporibus dolorum laborum neque, commodi provident, officia nihil vel quibusdam odit minima qui eius voluptas.
                    </div>
                    <h1>ARTICLE 2</h1>
                    <div class="col-lg-10">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nesciunt nam aut voluptatem molestiae voluptates temporibus dolorum laborum neque, commodi provident, officia nihil vel quibusdam odit minima qui eius voluptas.
                    </div>
                    <h1>ARTICLE 3</h1>
                    <div class="col-lg-10">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nesciunt nam aut voluptatem molestiae voluptates temporibus dolorum laborum neque, commodi provident, officia nihil vel quibusdam odit minima qui eius voluptas.
                    </div>
                    <h1>ARTICLE 4</h1>
                    <div class="col-lg-10">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nesciunt nam aut voluptatem molestiae voluptates temporibus dolorum laborum neque, commodi provident, officia nihil vel quibusdam odit minima qui eius voluptas.
                    </div>
                    <h1>ARTICLE 5</h1>
                    <div class="col-lg-10">
                      Cet accord est redigé en français en quatre exemplaires originaux, chacun des exemplaires faisant egalement foi.

                    </div>
                    <p>Fait à Dakar, le  <h5 style="color:#ffffff;">{{myDate | date:'fullDate'}}</h5></p>
                    <p>Professeur Moussa Lô  <p></p> <h1>------------------</h1></p>
                </div>

    <span></span>
<p>messages works!</p>
</div>
</div>
