<jhi-page-ribbon></jhi-page-ribbon>
<div id="wrapper">
    <div *ngIf="isAuthenticated()">
        <router-outlet name="sidebar"></router-outlet>
    </div>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div>
            <router-outlet name="navbar"></router-outlet>
        </div>
        <div class="container-fluid">
            <div class="card jh-card">
                <router-outlet></router-outlet>
            </div>
        
         </div><br><br><br>
         <jhi-footer></jhi-footer>
      
    </div>
</div>




