<div>
    <h2 id="page-heading">
        <span jhiTranslate="gesAccApp.comite.home.title">Comites</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comite" [routerLink]="['/comite/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gesAccApp.comite.home.createLabel">
            Create a new Comite
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="comites?.length === 0">
        <span jhiTranslate="gesAccApp.comite.home.notFound">No comites found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="comites && comites.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.comite.role">Role</span></th>
                    <th scope="col" ><span jhiTranslate="gesAccApp.comite.nom">Nom</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comite of comites ;trackBy: trackId">
                    <td><a [routerLink]="['/comite', comite.id, 'view']">{{ comite.id }}</a></td>
                    <td>{{ comite.role }}</td>
                    <td>{{ comite.nom }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/comite', comite.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/comite', comite.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(comite)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
