<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comite">
            <h2><span jhiTranslate="gesAccApp.comite.detail.title">Comite</span> {{ comite.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gesAccApp.comite.role">Role</span></dt>
                <dd>
                    <span>{{ comite.role }}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.comite.nom">Nom</span></dt>
                <dd>
                    <span>{{ comite.nom }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comite', comite.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
