<div>
    <h2 id="page-heading">
        <span jhiTranslate="gesAccApp.partenaire.home.title">Partenaires</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-partenaire" [routerLink]="['/partenaire/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gesAccApp.partenaire.home.createLabel">
            Create a new Partenaire
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="partenaires?.length === 0">
        <span jhiTranslate="gesAccApp.partenaire.home.notFound">No partenaires found</span>
    </div>

    <!-- <div class="table-responsive" *ngIf="partenaires?.length > 0"> -->


    <div class="table-responsive" id="entities" *ngIf="partenaires && partenaires.length > 0">

        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.partenaire.nom">Nom</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.partenaire.domaine">Domaine</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.partenaire.pays">Pays</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.partenaire.typepartenaire">Typepartenaire</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let partenaire of partenaires ;trackBy: trackId">
                <td><a [routerLink]="['/partenaire', partenaire.id, 'view' ]">{{partenaire.id}}</a></td>
                <td>{{partenaire.nom}}</td>
                <td>{{partenaire.domaine}}</td>
                <td>{{partenaire.pays}}</td>
                <td>
                    <div *ngIf="partenaire.typepartenaire">
                        <a [routerLink]="['/type-partenaire', partenaire.typepartenaire?.id, 'view' ]" >{{partenaire.typepartenaire?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/partenaire', partenaire.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/partenaire', partenaire.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(partenaire)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
