<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-partenaire-heading" jhiTranslate="gesAccApp.partenaire.home.createOrEditLabel">Create or edit a Partenaire</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.partenaire.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.partenaire.domaine" for="field_domaine">Domaine</label>
                    <input type="text" class="form-control" name="domaine" id="field_domaine"
                           formControlName="domaine"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.partenaire.pays" for="field_pays">Pays</label>
                    <input type="text" class="form-control" name="pays" id="field_pays"
                           formControlName="pays"/>
                </div>

               <!--  <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.partenaire.typepartenaire" for="field_typepartenaire">Typepartenaire</label>
                    <select class="form-control" id="field_typepartenaire" name="typepartenaire" formControlName="typepartenaire">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typePartenaireOption.id === editForm.get('typepartenaire')!.value?.id ? editForm.get('typepartenaire')!.value : typePartenaireOption" *ngFor="let typePartenaireOption of typepartenaires; trackBy: trackById">{{typePartenaireOption.id}}</option>
                    </select>
                </div> -->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
