<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="partenaire">
            <h2><span jhiTranslate="gesAccApp.partenaire.detail.title">Partenaire</span> {{partenaire.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gesAccApp.partenaire.nom">Nom</span></dt>
                <dd>
                    <span>{{partenaire.nom}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.partenaire.domaine">Domaine</span></dt>
                <dd>
                    <span>{{partenaire.domaine}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.partenaire.pays">Pays</span></dt>
                <dd>
                    <span>{{partenaire.pays}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.partenaire.typepartenaire">Typepartenaire</span></dt>
                <dd>
                    <div *ngIf="partenaire.typepartenaire">
                        <a [routerLink]="['/type-partenaire', partenaire.typepartenaire?.id, 'view']">{{partenaire.typepartenaire?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/partenaire', partenaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
