<div>
    <h2 id="page-heading">
        <span jhiTranslate="gesAccApp.accord.home.title">Accords</span>
       <!--  <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-accord" [routerLink]="['/accord/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gesAccApp.accord.home.createLabel">
            Create a new Accord
            </span>
        </button> -->
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="accords?.length === 0">
        <span jhiTranslate="gesAccApp.accord.home.notFound">No accords found</span>
    </div>

    <!-- <div class="table-responsive" *ngIf="accords?.length > 0"> -->


    <div class="table-responsive" id="entities" *ngIf="accords && accords.length > 0">

        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.accord.nom">Nom</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.accord.titre">Titre</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.accord.domaine">Domaine</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.accord.description">Description</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.accord.but">But</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.accord.dateSignature">Date Signature</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.accord.dateExpiration">Date Expiration</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.accord.status">Status</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.accord.comite">Comite</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.accord.avenant">Avenant</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.accord.partenaire">Partenaire</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accord of accords ;trackBy: trackId">
                <td><a [routerLink]="['/accord', accord.id, 'view' ]">{{accord.id}}</a></td>
                <td>{{accord.nom}}</td>
                <td>{{accord.titre}}</td>
                <td>{{accord.domaine}}</td>
                <td>{{accord.description}}</td>
                <td>{{accord.but}}</td>
                <td>{{accord.dateSignature | date:'mediumDate'}}</td>
                <td>{{accord.dateExpiration | date:'mediumDate'}}</td>
                <td>{{accord.status}}</td>
                <td>
                    <div *ngIf="accord.comite">
                        <a [routerLink]="['/comite', accord.comite?.id, 'view' ]" >{{accord.comite?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="accord.avenant">
                        <a [routerLink]="['/avenant', accord.avenant?.id, 'view' ]" >{{accord.avenant?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="accord.partenaire">
                        <a [routerLink]="['/partenaire', accord.partenaire?.id, 'view' ]" >{{accord.partenaire?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/accord', accord.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/accord', accord.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(accord)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
