<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accord">
            <h2><span jhiTranslate="gesAccApp.accord.detail.title">Accord</span> {{accord.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gesAccApp.accord.nom">Nom</span></dt>
                <dd>
                    <span>{{accord.nom}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.accord.titre">Titre</span></dt>
                <dd>
                    <span>{{accord.titre}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.accord.domaine">Domaine</span></dt>
                <dd>
                    <span>{{accord.domaine}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.accord.description">Description</span></dt>
                <dd>
                    <span>{{accord.description}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.accord.but">But</span></dt>
                <dd>
                    <span>{{accord.but}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.accord.dateSignature">Date Signature</span></dt>
                <dd>
                    <span>{{accord.dateSignature}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.accord.dateExpiration">Date Expiration</span></dt>
                <dd>
                    <span>{{accord.dateExpiration}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.accord.status">Status</span></dt>
                <dd>
                    <span>{{accord.status}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.accord.comite">Comite</span></dt>
                <dd>
                    <div *ngIf="accord.comite">
                        <a [routerLink]="['/comite', accord.comite?.id, 'view']">{{accord.comite?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gesAccApp.accord.avenant">Avenant</span></dt>
                <dd>
                    <div *ngIf="accord.avenant">
                        <a [routerLink]="['/avenant', accord.avenant?.id, 'view']">{{accord.avenant?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gesAccApp.accord.partenaire">Partenaire</span></dt>
                <dd>
                    <div *ngIf="accord.partenaire">
                        <a [routerLink]="['/partenaire', accord.partenaire?.id, 'view']">{{accord.partenaire?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/accord', accord.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
