<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-accord-heading" jhiTranslate="gesAccApp.accord.home.createOrEditLabel">Create or edit a Accord</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.accord.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.accord.titre" for="field_titre">Titre</label>
                    <input type="text" class="form-control" name="titre" id="field_titre"
                           formControlName="titre"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.accord.domaine" for="field_domaine">Domaine</label>
                    <input type="text" class="form-control" name="domaine" id="field_domaine"
                           formControlName="domaine"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.accord.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.accord.but" for="field_but">But</label>
                    <input type="text" class="form-control" name="but" id="field_but"
                           formControlName="but"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.accord.dateSignature" for="field_dateSignature">Date Signature</label>
                    <div class="input-group">
                        <input id="field_dateSignature" type="text" class="form-control" name="dateSignature" ngbDatepicker  #dateSignatureDp="ngbDatepicker" formControlName="dateSignature"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateSignatureDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.accord.dateExpiration" for="field_dateExpiration">Date Expiration</label>
                    <div class="input-group">
                        <input id="field_dateExpiration" type="text" class="form-control" name="dateExpiration" ngbDatepicker  #dateExpirationDp="ngbDatepicker" formControlName="dateExpiration"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateExpirationDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.accord.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.accord.comite" for="field_comite">Comite</label>
                    <select class="form-control" id="field_comite" name="comite" formControlName="comite">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="comiteOption.id === editForm.get('comite')!.value?.id ? editForm.get('comite')!.value : comiteOption" *ngFor="let comiteOption of comites; trackBy: trackById">{{comiteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.accord.avenant" for="field_avenant">Avenant</label>
                    <select class="form-control" id="field_avenant" name="avenant" formControlName="avenant">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="avenantOption.id === editForm.get('avenant')!.value?.id ? editForm.get('avenant')!.value : avenantOption" *ngFor="let avenantOption of avenants; trackBy: trackById">{{avenantOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.accord.partenaire" for="field_partenaire">Partenaire</label>
                    <select class="form-control" id="field_partenaire" name="partenaire" formControlName="partenaire">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="partenaireOption.id === editForm.get('partenaire')!.value?.id ? editForm.get('partenaire')!.value : partenaireOption" *ngFor="let partenaireOption of partenaires; trackBy: trackById">{{partenaireOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
