<div>
    <h2 id="page-heading">
        <span jhiTranslate="gesAccApp.demandeAccord.home.title">Demande Accords</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-demande-accord" [routerLink]="['/demande-accord/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gesAccApp.demandeAccord.home.createLabel">
            Create a new Demande Accord
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="demandeAccords?.length === 0">
        <span jhiTranslate="gesAccApp.demandeAccord.home.notFound">No demandeAccords found</span>
    </div>

    <!-- <div class="table-responsive" *ngIf="demandeAccords?.length > 0"> -->


    <div class="table-responsive" id="entities" *ngIf="demandeAccords && demandeAccords.length > 0">

        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.demandeAccord.num">Num</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.demandeAccord.titre">Titre</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.demandeAccord.type">Type</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.demandeAccord.description">Description</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.demandeAccord.texteAccord">Texte Accord</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.demandeAccord.dateDemande">Date Demande</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.demandeAccord.validation">Validation</span></th>
            <th scope="col" ><span jhiTranslate="gesAccApp.demandeAccord.partenaire">Partenaire</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let demandeAccord of demandeAccords ;trackBy: trackId">
                <td><a [routerLink]="['/demande-accord', demandeAccord.id, 'view' ]">{{demandeAccord.id}}</a></td>
                <td>{{demandeAccord.num}}</td>
                <td>{{demandeAccord.titre}}</td>
                <td>{{demandeAccord.type}}</td>
                <td>{{demandeAccord.description}}</td>
                <td>{{demandeAccord.texteAccord}}</td>
                <td>{{demandeAccord.dateDemande | date:'mediumDate'}}</td>
                <td>{{demandeAccord.validation}}</td>
                <td>
                    <div *ngIf="demandeAccord.partenaire">
                        <a [routerLink]="['/partenaire', demandeAccord.partenaire?.id, 'view' ]" >{{demandeAccord.partenaire?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/demande-accord', demandeAccord.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/demande-accord', demandeAccord.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(demandeAccord)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        <button type="submit"  [routerLink]="['/mails' , demandeAccord.id]"
                        class="btn btn-secondary btn-sm">
                    <fa-icon [icon]="'eye'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir La demande</span>
                </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
