<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="demandeAccord">
            <h2><span jhiTranslate="gesAccApp.demandeAccord.detail.title">Demande Accord</span> {{demandeAccord.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gesAccApp.demandeAccord.num">Num</span></dt>
                <dd>
                    <span>{{demandeAccord.num}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.demandeAccord.titre">Titre</span></dt>
                <dd>
                    <span>{{demandeAccord.titre}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.demandeAccord.type">Type</span></dt>
                <dd>
                    <span>{{demandeAccord.type}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.demandeAccord.description">Description</span></dt>
                <dd>
                    <span>{{demandeAccord.description}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.demandeAccord.texteAccord">Texte Accord</span></dt>
                <dd>
                    <span>{{demandeAccord.texteAccord}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.demandeAccord.dateDemande">Date Demande</span></dt>
                <dd>
                    <span>{{demandeAccord.dateDemande}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.demandeAccord.validation">Validation</span></dt>
                <dd>
                    <span>{{demandeAccord.validation}}</span>
                </dd>
                <dt><span jhiTranslate="gesAccApp.demandeAccord.partenaire">Partenaire</span></dt>
                <dd>
                    <div *ngIf="demandeAccord.partenaire">
                        <a [routerLink]="['/partenaire', demandeAccord.partenaire?.id, 'view']">{{demandeAccord.partenaire?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/demande-accord', demandeAccord.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
