<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-demande-accord-heading" jhiTranslate="gesAccApp.demandeAccord.home.createOrEditLabel">Create or edit a Demande Accord</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
              <!--   <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.demandeAccord.num" for="field_num">Num</label>
                    <input type="text" class="form-control" name="num" id="field_num"
                           formControlName="num"/>
                </div> -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.demandeAccord.titre" for="field_titre">Titre</label>
                    <input type="text" class="form-control" name="titre" id="field_titre"
                           formControlName="titre"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.demandeAccord.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.demandeAccord.description" for="field_description">Description</label>
                    <textarea type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.demandeAccord.texteAccord" for="field_texteAccord">Texte Accord</label>
                    <input type="text" class="form-control" name="texteAccord" id="field_texteAccord"
                           formControlName="texteAccord"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.demandeAccord.dateDemande" for="field_dateDemande">Date Demande</label>
                    <div class="input-group">
                        <input id="field_dateDemande" type="text" class="form-control" name="dateDemande" ngbDatepicker  #dateDemandeDp="ngbDatepicker" formControlName="dateDemande"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDemandeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.demandeAccord.validation" for="field_validation">Validation</label>
                    <input type="checkbox" class="form-control" name="validation" id="field_validation"
                           formControlName="validation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gesAccApp.demandeAccord.partenaire" for="field_partenaire">Partenaire</label>
                    <select class="form-control" id="field_partenaire" name="partenaire" formControlName="partenaire">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="partenaireOption.id === editForm.get('partenaire')!.value?.id ? editForm.get('partenaire')!.value : partenaireOption" *ngFor="let partenaireOption of partenaires; trackBy: trackById">{{partenaireOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
